#Systemd service file for monitoring

[Unit]
Description=Starts Monitor on startup

[Service]
Type=simple
User=root
StandardOutput=append:/var/log/klipper_monitor.log
ExecStart=python /home/pi/neopixels/monitoring.py
Restart=always

[Install]
WantedBy=multi-user.target
